{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
  {% if empleado.full_name %} 
    {{ empleado.full_name }} 
  {% else %} {{ empleado }} 
  {% endif %} 
{% endblock title %} 
{% block content %} 
  {% include 'includes/header.html' %}
  <div class="grid-container" style="height: 100vh;"> <!-- Altura total de la ventana -->
    <div class="grid-x grid-margin-x align-center align-middle" style="height: 100%;">
      <div class="cell small-12 medium-6 large-4 card" style="width: 300px; margin-top: 10px">
        {% if empleado %}
        <div class="card-divider">
          {% if empleado.full_name %}
          <h6 class="cell text-center">{{ empleado.full_name }}</h6>
          {% else %}
          <h6 class="cell text-center">{{ empleado }}</h6>
          {% endif %}
        </div>
        {% if empleado.image %}
        <div class="cell small-12 medium-6">
          <img src="{{ empleado.image.url }}" width="300px" height="200" />
        </div>
        {% else %}
        <div class="cell small-12 medium-6">
          <img src="{% static 'img/default_image.png' %}" alt="Foto de {{ empleado.names }}" width="300px"
            height="200px" />
        </div>
        {% endif %}
        <div class="card-divider">
          <h6 class="cell text-center">
            {{ empleado.department }} || {{ empleado.get_job_display }}
          </h6>
        </div>
        <div class="card-section">
          {% if skills %}
          <h6 class="text-center">Habilidades</h6>
          <div class="card-divider">
            <ul>
              {% for habilidad in skills %} {% if habilidad %}
              <li>{{ habilidad }}</li>
              {% else %}
              <li>Este empleado no tiene Habilidades registradas.</li>
              {% endif %} {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}